.photoList{
    display: flex;
    gap: 10px;
}

.photoList{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contenu{
    height: 400px;
}

.photoProfil{
    display: flex;
    flex-direction: column;
}

.photo{
    height: 200px;
    width : 300px;
    border: 1px solid black;
    
}

img.image{
    height: 200px;
    width : 300px;
}
