.container{
    width: 100%;
}

.swiper-container {
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
  height: 170px;
}

.swiper-slide {
    border-radius: 30px;
    width: 253px !important;
    height: 157px !important;
    background-position: center;
    background-size: contain;
}


.photo{
    border-radius: 40px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

