.duree{
    display: flex;
    width: 80%;
    gap: 10px;
}

// :host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
//     height: 0px !important;
// }

.unite{
    border: none !important;
    outline: none !important;
    .mat-form-field-infix{
        padding: 0;
    }
}

.formServices{
    border: 1px solid rgb(94, 94, 94);
    border-radius: 10px;
    padding-left: 20px;
}

.formSousSection{
    width: 80%;
    border: 1px solid rgb(94, 94, 94);
    border-radius: 10px;
    padding-left: 20px;
}

.addSousSection{
    color : #673AB7;
}