.rdvCard{
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    padding: 10px 20px;
    // align-items: center;
    flex-direction: column;
    box-shadow: 2px 9px 20px 0px #b8afb8ba;
}

.grass{
    font-weight: 800;
}