<section style="height: 100%;padding-top: 30px;" *ngIf="user | async as user else temp">
    <h1 class="titrePrincipal">Hello</h1>
    <div class="sub">
        <h1 class="titrePrincipal">{{user.displayName}}</h1>
        <img src="../../../../assets/icones/icons8-pouces-vers-le-haut-48.png" alt="">
    </div>
    <h2 class="sousTitrePrincipal" style="margin-top: 16px !important; color: rgb(187, 187, 187);">Voici ton planning : </h2>
    <div *ngIf="(rdv |async)?.length as rv;else noRdv">
        <div class="rdvCard" (click)="openDialog(lastRdv)">
            <p style="display: flex;justify-content: space-between;" class="infoTitre"><span>Prochain
                    rendez-vous :</span><span>&rarr;</span></p>
            <h2>{{lastRdv.event.start.toDate() |date : 'short':'GMT' :locale }} </h2>
            <p>Avec <span style="color: #3467C9;">{{lastRdv.freeName}}</span></p>
        </div>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p class="infoTitre"> Voir tous mes rendez-vous :</p>
                    </mat-panel-title>
                    <mat-panel-description>
                        <span class="material-icons">perm_contact_calendar</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ul>
                    <li *ngFor="let rdvs of rdv | async">
                        <p>{{rdvs.event.start.toDate()|date : 'short':'GMT': locale }}
                            <span class="infoTitre">avec </span> <span style="color: #3467C9;">{{rdvs.freeName}}</span>
                        </p>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <ng-template #noRdv>
        <p>Aucun rdv</p>
    </ng-template>
    <div>
        <div class="rdvCard">
            <div class="msg" *ngFor="let list of msgList | async" (click)="checkRoom(list)">
                <div class="imageProfil" [ngStyle]="{'background-image': 'url(' + list.freeImage + ')'}"></div>
                <p>{{list.freelancer}}</p>
            </div>
            <p style="font-size: 10px; justify-content : center; display: flex; margin-top: 10px;" routerLink="/chat">
                Voir
                tous les messages</p>
        </div>
    </div>
</section>
<ng-template #temp>
    <div class="content">
        <div>
            <h1>Hello,</h1>
            <p class="subTitle">Inscris-toi pour profiter de ton espace utilisateur </p>
        </div>
        <img src="../../../assets/Groupe 6566.svg" alt="">
        <app-sign-in-up></app-sign-in-up>
    </div>
</ng-template>