ul {
  list-style-type: none;
}

li {
  margin-bottom: 20px;
}

mat-expansion-panel {
  margin-bottom: 12px;
  border-radius: 9px;
}

#description {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  margin-top : 10px;
}
