<div class="header">
    <h2>Connectez-vous </h2>
</div>
<div class="content">
    <button mat-raised-button class="mail" (click)="mail()"> Connexion par mail</button>
    <div class="buttonContent">
        <div class="connectionGoogle">
            <button class="connection" mat-raised-button (click)="login()"><img src="../assets/icones/googleIcon.svg" alt=""></button>
            <button class="connection" mat-raised-button (click)="login()"><img src="../assets/icones/facebookIcon.svg" alt=""></button>
        </div>
    </div>
</div>