<div class="header">
    <h2>Connectez-vous pour profiter de nos fonctionnalités !!</h2>
</div>
<div class="content">
    <!-- <button mat-raised-button class="buttonSecondaire primary" (click)="mail()"> Connexion par mail</button>
    <div class="buttonContent">
        <div class="connectionGoogle">
            <button class="connectAccount" mat-raised-button (click)="login()"><img
                    src="../assets/icones/googleIcon.svg" alt=""></button>
            <button class="connectAccount" mat-raised-button (click)="login()"><img
                    src="../assets/icones/facebookIcon.svg" alt=""></button>
        </div>
    </div> -->
    <app-sign-in-up style="margin-top: 10px;"></app-sign-in-up>

</div>