.messageClass {
  height: 100%;
}

.message {
  position: relative;
  margin-top: 10px;
}

.iconSend {
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.titre{
  display: flex;
  align-items: flex-end;
  gap: 10px;
}


.msgWrapper{
  padding-top: 20px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}