.messageClass {
  height: 100%;
}

.message {
  position: relative;
  margin-top: 10px;
}

.iconSend {
  position: absolute;
  right: 5px;
  bottom: 2px;
}

.titre {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.msgWrapper {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
