<section style="padding: 0 16px;">
    <div class="container">
        <h1 style="width: 147px">Manage Everything On Phone</h1>
        <div class="signUp">
            <!-- <button class="connection" mat-raised-button color="primary" (click)="login()">
                Connextion par email
            </button> -->
        </div>
        <div class="signIn">
            <app-sign-in style="width: 100%;"></app-sign-in>
        </div>
        <p style="margin-top: 20px;">
            En continuant vous acceptez les conditions générales d’utilisation de
            NLITE et ses partenaires
        </p>
    </div>
</section>