// @import "../styles.scss";
.logo {
  height: 43px;
  width: 110px;
  background-image: url("./../assets/icones/su_logo.svg");
  background-position: center;
  background-size: cover;
}

.menuChoice {
  height: 100%;
}

.showSmall {
  display: block !important;
  height: 100% !important;
}

.showBig {
  display: none !important;
}

.frontSize {
  height: 100%;
}

.active-link {
  fill: #5337f7;
}

.active-link.titreIcon {
  color: #5337f7;
}

mat-toolbar {
  padding: 0 16px;
  width: 100%;
  justify-content: space-between;
}

mat-toolbar.menuTop {
  top: 0;
  display: flex;
  height: 55px;
  background: white;
  justify-content: space-between;
  position: absolute;
  left: 0;
  z-index: 100;
}

mat-toolbar.bottom {
  position: fixed;
  border-top: 1px solid #7b78784d;
  bottom: 0;
  z-index: 10000;
  height: 40px;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

p.titreIcon {
  line-height: 10px;
  font-size: 10px;
  color: #a1a1a2;
}

.butts {
  color: white;
  // background: $primary-accent;
}

mat-drawer {
  width: 313px;
  padding: 20px 10px 0px 10px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

@media (min-width: 550px) {
  a {
    display: flex;
    gap: 10px;
    flex-direction: row;
  }

  p.titreIcon {
    font-size: 16px;
    color: #a1a1a2;
  }

  .menuTap {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }

  mat-drawer {
    padding-left: 30px;
  }

  .menuTopTitre {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
  }

  .frontSize {
    height: 100%;
  }

  .showSmall {
    display: none !important;
  }

  .showBig {
    display: block !important;
    height: 100% !important;
  }
}
