.miniTitre {
  font-weight: 500;
}

mat-expansion-panel {
  border-radius: 33px !important;
}

mat-expansion-panel-header {
  background: black !important;
}

input {
  border-radius: 40px;
  box-shadow: 0 14px 12px 4px rgba(0, 0, 0, 0.12);
  background: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

mat-label {
  color: #a9acb9;
  font-weight: 500;
}

:host ::ng-deep .mat-form-field-label {
  top: 37px;
  left: 52px;
}

mat-select {
  border: none;
  border-radius: 40px;
  box-shadow: -5px 29px 20px -8px rgb(0 0 0 / 12%);
}

ul {
  list-style-type: none;
  margin-bottom: 0 !important;
  padding-left: 0px;
}

//formulaire

.search {
  display: flex;
}

.filter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.searchButton {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.iconFiltre {
  padding: 10px !important;
  border-radius: 10px !important;
  margin-top: 30px !important;
}

form {
  flex: 3;
}

mat-form-field {
  width: 100%;
}

.form-control {
  padding: 31px 2.75rem;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

.example-chip-list {
  width: 100%;
}

.slider {
  padding: 10px 0.75rem;
}

.content {
  width: 100%;
  overflow-y: auto;
}

.searchPc {
  align-items: flex-start;
}

mat-drawer {
  width: 300px !important;
  padding: 60px 10px 0px 10px;
  border-top-right-radius: 21px;
  border-bottom-right-radius: 21px;
}

@media (min-width: 550px) {
  ul {
    margin-bottom: 6px !important;
  }

  .content {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .searchPc {
    align-items: center;
  }

  .search {
    width: 60%;
  }

  .result {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  mat-drawer {
    padding-top: 55px !important;
  }
}
