.container{
    width: 1000px;
}


.contenuList{
    width: 600px;
    height: 80vh;
}


.listItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border-radius: 10px;
    // background: red;
    padding: 0 10px;
    padding-top: 10px;
    align-items: center;
    box-shadow: 10px 5px 5px 0px rgba(184,175,184,1);;
    span{
        cursor: pointer;
    }
}

.icones{
    display: flex;
    justify-content: space-between;
    width: 70px;
}

.iconImg{
    cursor: pointer;
}