<mat-drawer-container class="example-container" hasBackdrop="false" style="height: 100%;width: 100%;">
    <mat-drawer #drawer mode="slide">
        <div (click)="!drawer.toggle()" style="cursor: pointer; display: flex;justify-content: flex-end;">
            <img src="https://img.icons8.com/material-sharp/24/000000/delete-sign.png" />
        </div>
        <h2 class="titreSecondaire" style="margin-bottom: 30px;">Filtres</h2>
        <form [formGroup]="filterForm">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Où cherchez-vous ?</mat-label>
                    <input ngx-google-places-autocomplete [options]='options' matInput class="form-control formulaire"
                        #placesRef="ngx-places" formControlName="location"
                        (onAddressChange)="handleAddressChange($event)" />
                </mat-form-field>
            </div>
            <button mat-button (click)="appear()" class="primaryBackground">Filtrer</button>
        </form>
    </mat-drawer>
    <mat-drawer-content>
        <div class="areaLayout ">
            <!-- <button mat-button (click)="drawer.toggle()"><img src="../assets/icones/icons8-menu.svg" alt=""></button> -->
            <div class="titleSearch">
                <h1 class="titrePrincipal">Résultats</h1>
                <h2 *ngIf="req" class="sousTitrePrincipal">pour <span class="primaryColor">{{titre.type}}</span>, <span
                        class="primaire">{{titre.lieu}}</span></h2>
            </div>
            <div class="search">
                <form [formGroup]="searchForm">
                    <div class="form-group">
                        <mat-form-field class="typeFilter">
                            <mat-label>Que recherchez vous</mat-label>
                            <mat-select name="type" class="form-control " formControlName="type">
                                <mat-option (click)="appear()" *ngFor="let type of types" [value]="type.value">
                                    {{type.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button (click)="drawer.toggle()" style="padding: 5px 30px 5px 30px !important; border-radius: 30px; "
                            class="primaryBackground ">
                            <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px"
                                height="24px">
                                <path
                                    d="M 0 2 L 0 4 L 24 4 L 24 2 Z M 0 11 L 0 13 L 24 13 L 24 11 Z M 0 20 L 0 22 L 24 22 L 24 20 Z" />
                            </svg>
                            <!-- <img src="../assets/icones/icons8-menu.svg" alt="">-->
                        </button>
                    </div>
                </form>
                <div class="searchButton">
                    <span class="material-icons iconFiltre primaryBackground">search</span>
                </div>
            </div>
            <div class="content">
                <p *ngIf="countObser" class="result">Résultats <span style="color: #a9acb9;">({{countObser}})</span></p>
                <div class="listContent">
                    <div class="listItem" *ngFor="let freelancer of freelancerList | async">
                        <div class="profilListEntete" (click)="profileNavigate(freelancer)">
                            <div class="imageListProfil"
                                [ngStyle]="{'background-image': 'url(' + freelancer.image + ')'}">
                            </div>
                            <div class="profilInfo">
                                <h3 class="titreBadge">{{freelancer.displayName}}
                                    <span class="material-icons"
                                        style="position: relative;top:3px;color: #5337f7;font-size: 17px;">verified</span>
                                </h3>
                                <ul class="categList">
                                    <li *ngFor="let categorie of freelancer.categories" class="categories ">
                                        <div class="dot"></div>
                                        <h3 class="sousTitreSecondaire"> {{categorie}}</h3>
                                    </li>
                                </ul>
                                <p class="categories">{{freelancer.adresse.ville }}
                                    <span>({{freelancer.adresse.codePostal}})</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>