<div class="container">
    <h1 class="titrePrincipal">Résultats</h1>
    <h2 *ngIf="req" class="sousTitrePrincipal">pour <span class="primaire">{{titre.type}}</span>, <span
            class="primaire">{{titre.lieu}}</span></h2>
    <div class="search">
        <form [formGroup]="searchForm">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Où cherchez-vous ?</mat-label>
                    <input ngx-google-places-autocomplete [options]='options' matInput class="form-control formulaire"
                        #placesRef="ngx-places" formControlName="location"
                        (onAddressChange)="handleAddressChange($event)" />
                </mat-form-field>
                <p *ngIf="countObser">Résultats <span style="color: #a9acb9;">({{countObser}})</span></p>
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="filter">
                                    <p>Ajouter des filtres</p>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="filtresSup">
                            <mat-form-field class="typeFilter">
                                <mat-label>Quoi ?</mat-label>
                                <mat-select name="type" class="form-control " formControlName="type">
                                    <mat-option *ngFor="let type of types" [value]="type.value">
                                        {{type.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <p>A partir de : {{prixFiltre | async}}</p>
                            <mat-slider thumbLabel class="form-control slider" [max]="200" [min]="0"
                                formControlName="prix" thumbLabel="true" tickInterval="1000">
                            </mat-slider>

                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </form>
        <div class="searchButton">
            <span class="material-icons iconFiltre" (click)="appear()">search</span>
        </div>
    </div>
    <div class="content">
        <div class="listItem" *ngFor="let freelancer of freelancerList | async">
            <div class="profilEntete" (click)="profileNavigate(freelancer)">
                <div class="imageProfil" [ngStyle]="{'background-image': 'url(' + freelancer.image + ')'}"></div>
                <div class="profilInfo">
                    <h3 class="titreSecondaire">{{freelancer.displayName}}
                        <span class="material-icons iconVerified" style="color: #3467C9;font-size: 17px;">verified</span>
                    </h3>
                    <ul class="categList">
                        <li *ngFor="let categorie of freelancer.categories" class="categories ">
                            <div class="dot"></div>
                            <p class="subTitle">{{categorie}}</p>
                        </li>
                    </ul>
                    <p class="subTitle">{{freelancer.adresse.ville | uppercase}}({{freelancer.adresse.codePostal}})
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>