// @import "../../../styles.scss";
.miniTitre {
  font-weight: 500;
}

.primaire{
  color : #5337f7;
}

mat-accordion {
  position: absolute;
  bottom: 0px;
  left: 62px;
}

mat-expansion-panel {
  border-top-right-radius: 32px !important;
  border-top-left-radius: 30px !important;
  border-bottom-right-radius: 33px !important;
  border-bottom-left-radius: 33px !important;
}

mat-expansion-panel-header {
  background: black !important;
}

.container {
  height: 100%;
  position: relative;
  padding-top: 30px !important;
}

input {
  border-radius: 40px;
  box-shadow: 0 14px 12px 4px rgba(0, 0, 0, 0.12);
  background: white;
}

mat-label {
  color: #a9acb9;
  font-weight: 500;
}

:host ::ng-deep .mat-form-field-label {
  top: 37px;
  left: 52px;
}

mat-select {
  border: none;
  border-radius: 40px;
  box-shadow: -5px 29px 20px -8px rgb(0 0 0 / 12%);
}



ul {
  list-style-type: none;
  margin-bottom: -2px !important;
  padding-left: 0px;
}

//formulaire

.search {
  display: flex;
}

.filter {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.searchButton {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.iconFiltre {
  padding: 10px !important;
  color: white !important;
  background: #5337f7;
  border-radius: 10px !important;
  margin-top: 30px !important;
}

form {
  flex: 3;
}

mat-form-field {
  width: 100%;
}

.form-control {
  padding: 31px 2.75rem;
}

:host ::ng-deep .mat-form-field-underline {
  display: none;
}

.example-chip-list {
  width: 100%;
}

.slider {
  padding: 10px 0.75rem;
}

.content{
  height: 330px;
  width: 100%;
  overflow-y: auto;

}

.iconVerified {
  top : 4px;
  position : relative;
}