.etat {
  border-radius: 10px;
  color: #0e0e0f;
}

.Info {
  display: flex;
  justify-content: space-between;
}

.connection {
  width: 205px;
  height: 47px;
  border-radius: 35px;
  color: white;
}


.button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}