<span class="material-icons sortie" (click)="onNoClick()">cancel</span>
<section>
    <h2>Mon rendez-vous</h2>
    <p>avec<span style="color: #3467C9;"> {{data.rdv.freeName}}</span></p>
</section>
<section style="margin-top: 30px;">
    <div class="zoneText">
        <p class="subTitle">Adresse</p>
        <p>{{data.rdv.adresse.rue}}, {{data.rdv.adresse.codePostal}} {{data.rdv.adresse.ville}}</p>
    </div>
    <div class="Info">
        <div class="zoneText">
            <p class="subTitle">Date de RDV</p>
            <p>{{data.rdv.event.start.toDate()|date: 'short'}}</p>
        </div>
        <button mat-button class="etat" [style.background]="data.rdv.event.color.primary">{{data.rdv.type}}</button>
    </div>
</section>
<div class="button">
    <button class="connection" mat-raised-button (click)="delete()" color="warn">Annuler rendez-vous</button>
</div>