<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
		<mat-toolbar routerLink="">Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item routerLink="chat">Chat</a>
			<a mat-list-item routerLink="usersList">Liste des freelancers</a>
			<a mat-list-item routerLink="calendar">calendrier</a>
			<a mat-list-item *ngIf="auth.user | async as user; else showLogin" (click)="logout()">Se déconnecter</a>
			<ng-template #showLogin>
				<a mat-list-item routerLink="login">Se connecter</a>
			</ng-template>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary" class="header">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button 
				*ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span (click)="drawer.toggle()">testMailing</span>
				<div  *ngIf = "user | async as user" (click)="profil(user.status)">{{ user.displayName}}</div>
		</mat-toolbar>
		<!-- Contenu -->
		<div class="contenu">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>