.contentPc{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottomMobile, .topMobile{
  display: none;
}
.menuMobile{
  display: none;
}

.menuHeader{
  height: 100px;
  background: black;
  width: 100%;
}

mat-toolbar{
  justify-content: space-between;
}


.buttonZone{
  display: flex;
  align-items: center;
}


.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.contenu{
  width: 100%;
  padding: 0 16px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and(max-width : 550px){
.contentPc{
  display: none;
}

.bottomMobile, .topMobile{
  display: flex;
  width: 100%;
}

.bottomMobile{
  z-index: 100000;
  position: fixed;
  bottom: 0;
}


  .menuMobile{
  display: flex;
  justify-content: space-between;
  width: 100%;
  }

}