<div class="content">
	<h2>Qui Sommes-nous ?</h2>
	<p>
		Social Up est le fruit des réflexions de quatre associés qui ne se reconnaissaient plus dans la proposition de
		valeur des plateformes de freelance. lls ont souvent été déçus et perdus face à une offre pléthorique et
		uniformisée. Ils s’aperçoivent qu’il ne s’agit pas de trouver un freelancer mais plutôt un bon freelancer.
	</p>
	<p>
		Convaincus du talent de plusieurs freelancers, ils lancent Social Up, une application qui propose d’incarner une
		véritable alternative aux plateformes de freelance traditionnels et bouleverse les codes du marché !
	</p>
	<p>Au centre de ce nouveau modèle : la parfaite concordance entre les besoins des clients et les spécialités des
		freelancers. 
	</p>
	<p>Notre mission est d’aider les clients à se sentir prêts à affronter leur quotidien urbain, avec des prestations
		individuelles de haute qualité.
	</p>
	<h2>Une plateforme pour gérer votre activité :</h2>
	<p>Le suivi de vos rendez-vous est centralisé dans votre dashboard. Retrouvez-les et consultez les informations
		relatives à ceux-ci. 
		L’essor de notre plateforme vous permet de trouver de nouveaux projets, mais aussi d’être accompagné au jour le
		jour sur tous les aspects de votre vie professionnelle. </p>
	<h2>Flexibilité garantie : </h2>
	<p>Nous nous chargeons de remplir votre agenda sur les créneaux horaires et les zones géographiques que vous seuls
		décidez d’ouvrir.</p>
	<h2>Donnez de l’impulsion à votre projet !</h2>
	<p>Social Up est plus qu’une simple plateforme de mise en relation. Notre objectif est de fonder une communauté de
		confiance en sourçant les meilleurs talents et en les mettant à disposition des clients dans les plus brefs
		délais. </p>
	<p>Social Up s’adresse à de nombreux profils freelance : esthétisme, coiffure, photographie, graphisme, web
		designing, mais aussi les plus originaux comme le montage vidéo !</p>
	<h2>Développez gratuitement votre projet en ligne :</h2>
	<p>Notre plateforme est gratuite à vie. Vous ne payez que lorsque vous gagnez de l’argent grâce au trafic que nous
		vous générons. Vous bénéficiez ainsi de la puissance de Social Up et de ses nombreux visiteurs.</p>
	<h2>Un meilleur salaire :</h2>
	<p>Nous sommes toujours à la recherche de personnes talentueuses.  Avec Social Up, vous pouvez doubler ou tripler
		votre salaire. Vous recevez régulièrement un récapitulatif des prestations réalisées ainsi que le montant de la
		commission reversée à Social Up. 

		Alors si vous êtes ambitieux, postulez maintenant ! </p>
</div>