.contentPc {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottomMobile,
.topMobile {
  display: none;
}
.menuMobile {
  padding: 0 16px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menuHeader {
  height: 100px;
  background: black;
  width: 100%;
}

mat-toolbar {
  justify-content: space-between;
}

.buttonZone {
  display: flex;
  align-items: center;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.contenu {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and(max-width : 550px) {
  .contentPc {
    display: none;
  }

  mat-toolbar{
    height: 7%;
  }

  .bottomMobile,
  .topMobile {
    display: flex;
    width: 100%;
  }

  .bottomMobile {
    // z-index: 100000;
    position: fixed;
    bottom: 0;
  }

  .menuMobile {
    padding: 0 16px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.logo {
  height: 43px;
  width: 50px;
}

.active-link {
  fill: blue;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyeball {
  fill: red !important;
}
