/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~open-iconic/font/css/open-iconic-bootstrap.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.my-custom-class span {
  color: #ff3d7f !important;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$primary-accent: #5337f7;
$secondary-title: #a9acb9;
$warn: rgb(232, 3, 3);

* {
  font-family: "Poppins", sans-serif;
  outline: none;
  font-weight: 800;
}

// html,
p,
h2,
h3,
h4,
h1 {
  margin: 0 !important;
  font-family: "Poppins", sans-serif !important;
}

.miniTitre {
  font-weight: 500px !important;
}

p {
  line-height: 15px;
}

.container {
  padding: 0 !important;
}

section {
  width: 100% !important;
}

.subTitle {
  color: $secondary-title;
  font-size: 10px !important;
}

.categList {
  display: flex;
  gap: 10px;
  line-height: 23px;
  margin: 0 !important;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: blue;
}

.profilEntete {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profilLayout {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

.listItem {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  background: white;
  margin-bottom: 4px;
}

.imageProfil {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid white;
  position: relative;
  top: -50px;
}

.categories {
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 400;
  color: $secondary-title;
}

.profilInfo {
  display: flex;
  flex-direction: column;
  width: 202px;
}

.custom .mat-dialog-container {
  padding: 0;
}

button:focus {
  outline: none !important;
}

.formulaire {
  border: none;
  border-radius: 40px !important;
  box-shadow: -5px 29px 20px -8px rgb(0 0 0 / 12%);
}

html,
body {
  height: 100%;
  background: #f5f5f7;
}

.titrePrincipal {
  font-weight: 900 !important;
  font-size: 40px !important;
  letter-spacing: -0.04em !important;
}

.sousTitrePrincipal {
  font-size: 16px !important;
  font-weight: 400 !important;
  // letter-spacing: 0.03em !important;
}

.titreSecondaire {
  font-weight: 800 !important;
  line-height: 30px !important;
}

.buttonPrimaire {
  display: flex !important;
  padding: 1rem 2rem 1rem 2rem !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 40px !important;
  margin: 0px !important;
}

.buttonSecondaire {
  padding: 0px 24px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 20px !important;
  font-size: 11px;
  font-weight: 800;
}

.primaryBackground {
  background: $primary-accent;
  color: white;
}

.primaryColor {
  color: $primary-accent;
}

.secondary {
  background: $primary-accent;
  color: white;
}

.warn {
  background: $warn;
  color: white;
}

.connection {
  padding: 0 !important;
  min-width: 50px !important;
  height: 50px;
  border-radius: 50% !important;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.banniereProfil {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  background-image: url("https://images.musement.com/cover/0002/49/thumb_148242_cover_header.jpeg?lossless=false&auto=format&fit=clip&h=531.296875&w=1008");
}

.infoLayout {
  display: flex;
  gap: 5px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: blue;
}

.chatter {
  border-radius: 50% !important;
  height: 65px;
  width: 65px;
  padding: 0 !important;
  display: flex;
  top: -46px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.profilListEntete {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  align-items: center;
}

.imageListProfil {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid white;
  position: relative;
}

.areaLayout {
  padding: 65px 15px 0px !important;
  height: calc(100vh - 41px);
  position: relative;
  // padding-top: 65px !important;
  display: flex;
  flex-direction: column;
}

.titreBadge {
  line-height: 0 !important;
  font-weight: 900 !important;
}

@media (min-width: 550px) {
  .imageProfil {
    height: 110px;
    width: 110px;
  }

  .infoLayout {
    gap: 10px;
  }

  .titreSecondaire {
    line-height: 49px !important;
    font-size: 30px !important;
  }

  .areaLayout {
    height: 100%;
    width: 80%;
    max-width: 1300px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

  .titreBadge {
    font-size: 18px !important;
    line-height: 1 !important;
  }

  .profilInfo {
    width: inherit;
  }

  .subTitle {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .sousTitreSecondaire {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .listContent {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .listItem {
    min-width: 320px;
  }
}
