<div class="sec">
    <span class="material-icons sortie" (click)="onNoClick()">cancel</span>
    <form [formGroup]="dateForm" (ngSubmit)="sendMofication()">
        <h1>Prendre rendez-vous</h1>
        <p>le : {{jourDebut}} à {{this.heureFin}}</p>
        <div class="form-group">
            <div class="bas">
                <mat-form-field style="width: 45%; margin-right: 10%;" appearance="legacy">
                    <mat-label>Votre nom</mat-label>
                    <input matInput placeholder="Entrez un titre" class="form-control" formControlName="nomClient">
                </mat-form-field>
                <mat-form-field style="width: 45%;" appearance="legacy">
                    <mat-label>Votre prénom</mat-label>
                    <input matInput placeholder="Entrez un titre" class="form-control" formControlName="prenomClient">
                </mat-form-field>
                <mat-form-field style="width: 45%;" appearance="legacy">
                    <mat-label>Numéro de téléphone</mat-label>
                    <input matInput placeholder="Entrez un titre" class="form-control" formControlName="telClient">
                    <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <mat-form-field style="width: 100%" appearance="legacy">
                    <mat-label>Commentaire</mat-label>
                    <textarea matInput placeholder="Entrez un titre" class="form-control"
                        formControlName="commentaire"></textarea>
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button class="valider" [disabled]="dateForm.invalid">Valider</button>
    </form>
    <button mat-raised-button class="valider false" (click)="onNoClick()">Annuler</button>
</div>