
.calendrier {
  flex: 3;
  margin-top: 20px;
}

.debut,
.fin {
  display: flex;
  padding: 0 10px;
  gap: 10px;
}

.mat-form-field {
  flex: 1;
  max-width: 180px;
}

.heures {
  flex: 1;
  max-width: 200px;
}

  .scroll-container {
    height: 400px;
    width: 350px;
  }

// How to override a non themable property, this was copied from chrome -> inspect element -> styles panel
.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  opacity: 0.15;
}
