.wrapper{
    display: flex;
    max-width: 1300px;
    margin-top: 30px;
}

.formulaire{
    flex: 1;
}

.calendrier{
    flex: 3;
}

.debut, .fin{
    display: flex;
    padding : 0 10px;
    gap: 10px;
    
}

.mat-form-field {
    flex:1;
    max-width: 180px;
}

.heures{
    flex : 1;
    max-width: 200px;
}




