:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px;
}
.titleHeader {
  margin-top: 30px;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 90%;
}

mat-select {
  height: 85px;
  border-radius: 40px;
}

.form-control {
  // margin-top: 100px;
  padding: 31px 0.75rem;
}

:host ::ng-deep .mat-form-field-label {
  top: 54px;
  left: 20px;
}

// :host ::ng-deep .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
// .mat-form-field-label{
//     transform: translateY(-54px) scale(0.75) perspective(100px) translateZ(0.001px);
// }

.valider {
  background: black;
  color: white;
  width: 90%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
