<div class="titleHeader">
    <h1>Rechercher</h1>
    <h2 style="color: #A9ACB9;">Un freelancer près de chez vous</h2>
</div>
<div class="form">
    <form [formGroup]="searchForm" (ngSubmit)="searchResult()">
        <mat-form-field>
            <mat-label>Que cherchez-vous ?</mat-label>
            <mat-select name="freelancer" class="form-control" formControlName="freelanceType">
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Où ?</mat-label>
            <mat-select name="location" class="form-control" formControlName="location">
                <mat-option *ngFor="let location of locations" [value]="location.value">
                    {{location.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button class="valider">Rechercher</button>
    </form>
</div>
