<section class="contenuList" *ngIf="user |async as user else temp">
    <div class="container">
        <h1>Liste des messages</h1>
        <div *ngIf="roomList| async as rooms; else notif" style="margin-top: 10px;">
            <div class="listItem" *ngFor="let room of rooms; let i = index" (click)="discuss(room)">
                <div class="profilEntete">
                    <div *ngIf="user.uid != room.freeUid" class="imageProfil"
                        [ngStyle]="{'background-image': 'url(' +room.freeImage+ ')'}"></div>
                    <button *ngIf="user.uid == room.freeUid" class="connection">
                        {{userFormat[i]}}
                    </button>
                    <p *ngIf="user.uid == room.freeUid">{{room.user}}</p>
                    <p *ngIf="user.uid == room.clientUid">{{room.freelancer}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #notif style="background: red;">
        <p>Il n'y a aucune discussion</p>
    </ng-template>
</section>
<ng-template #temp>
    <div class="content">
        <div>
            <h1>Hello,</h1>
            <p class="subTitle">Inscris-toi pour profiter du chat </p>
        </div>
        <img src="../../../assets/Groupe 6566 (1).svg" alt="">
        <app-sign-in-up></app-sign-in-up>
    </div>
</ng-template>