
.container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.contenuList{
    padding-top: 32px;
}

.content{
  height: 100%;
  padding: 10px 0px 0px 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}